.wrapper {
  border: 1px solid peachpuff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 15px;
  .title {
    margin-bottom: 15px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
